<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="utf-8">

</head>
<body>
<section layout:fragment="content" class="main-content">
    <h1>정액할인</h1>
    <form id="register-form" th:action="@{/admin/policy1}" th:object="${AmountDto}" method="post">
        <input style="display:none;" type="text" th:field="*{id}" th:value="${AmountDto.id}">
        <input style="display:none;" type="text" th:field="*{dosed}" th:value="${AmountDto.dosed}">
        <div class="form-row">
            <label>금액: </label> <input type="text" th:field="*{amount}" value="${AmountDto.amount}" autofocus="autofocus" placeholder="금액"/>
        </div>

        <div class="form-row">
            <input type="submit" value="적용" />
        </div>
    </form>
</section>
</body>
</html>