<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">

<head>
    <meta charset="UTF-8">
</head>
<body>
<section layout:fragment="content" class="main-content">
    <div th:object="${member}">
        <div th:text="${member.id}"></div>
        <div th:text="${member.loginId}"></div>
        <div th:text="${member.password}"></div>
        <div th:text="${member.socialSecurityNumber}"></div>
        <div th:text="${member.sex}"></div>
    </div>
    <table>
        <thead>
        <tr>
            <th>취소여부</th>
            <th>영화 제목</th>
            <th>좌석</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ticket : ${Tickets}">
            <td><span th:text="${ticket.isCanceled}"></span></td>
            <td><span th:text="${ticket.Movie}"></span></td>
            <td><span th:text="${ticket.Seat}"></span></td>
        </tr>
        </tbody>
    </table>

    <a href="/admin">관리자</a>
</section>>
</body>

</html>