<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="utf-8">
    <title>MovieList</title>
</head>
<body>
<section layout:fragment="content" class="main-content">

    <h1>영화</h1>
    <h1>영화</h1>
    <h1>영화</h1>
    <div style="text-align:right">
        <select name="sortSelect">
            <option th:value="'ticketingRate'">예매율순</option>
            <option th:value="'score'">평점순</option>
        </select>
        <a>버튼</a>
    </div>
    <table class="table table-striped table-hover">
        <tbody>
            <tr th:each="movie : ${movies}">
                <td><span th:text="${movie.title}"></span>
                </td>
                <td><a class="btn-primary btn-sm"
                        th:href="@{/movie/detail/{id}(id = ${movie.id})}">상세정보</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="text-align:center">
        <a class="btn-primary btn-sm"
           th:if="${pagePre==true}"
           th:href="@{/movie/{sortBy}/{pageNum}(pageNum= ${presentNum-1}, sortBy = ${presentSort})}">이전
        </a>
        <a class="btn-primary btn-sm"
           th:if="${pageNext==true}"
           th:href="@{/movie/{sortBy}/{pageNum}(pageNum= ${presentNum+1}, sortBy = ${presentSort})}">다음
        </a>
    </div>
</section>
</body>
</html>