<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footerFragment">
    <article class="company_info_wrap">
        <section class="company_info">
            <address>(04377)서울특별시 용산구 한강대로 23길 55, 아이파크몰 6층(한강로동)</address>
            <dl class="company_info_list">
                <dt>대표이사</dt>
                <dd>허민회</dd>
                <dt>사업자등록번호</dt>
                <dd>104-81-45690</dd>
                <dt>통신판매업신고번호</dt>
                <dd>2017-서울용산-0662 <a href="#none" onclick="goFtc()" class="btn_goFtc">사업자정보확인</a><a></a></dd>
            </dl>
            <dl class="company_info_list">
                <dt>호스팅사업자</dt>
                <dd>CJ올리브네트웍스</dd>
                <dt>개인정보보호 책임자</dt>
                <dd>심준범</dd>
                <dt>대표이메일</dt>
                <dd>cjcgvmaster@cj.net</dd>

            </dl>
            <p class="copyright">© CJ CGV. All Rights Reserved</p>
        </section>
    </article>
</footer>
</html>