<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment">
    <div id="cgvwrap">
        <div class="header">
            <div class="header_content">
                <div class="contents">
                    <h1 onclick>
                        <a href="/">
                            <img src="https://img.cgv.co.kr/R2014/images/common/logo/logoRed.png" alt="CGV">
                        </a>
                        <span>CULTUREPLEX</span>
                    </h1>
                    <ul class="memberInfo_wrap">
                        <li th:if="${loginMember}">
                            <a href="/logout">
                                <img src="https://img.cgv.co.kr/R2014/images/common/ico/loginPassword.png" alt="로그아웃">
                                <span>로그아웃</span>
                            </a>
                        </li>
                        <li th:unless="${loginMember}">
                            <a href="/login">
                                <img src="https://img.cgv.co.kr/R2014/images/common/ico/loginPassword.png" alt="로그인">
                                <span>로그인</span>
                            </a>
                        </li>
                        <li th:unless="${loginMember}">
                            <a href="/members/new">
                                <img src="https://img.cgv.co.kr/R2014/images/common/ico/loginJoin.png" alt="회원가입">
                                <span>회원가입</span>
                            </a>
                        </li>
                        <li>
                            <a href="/mypage">
                                <img src="https://img.cgv.co.kr/R2014/images/common/ico/loginMember.png" alt="MY CGV">
                                <span>MY CGV</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav" style="left: 0px;">
                <div class="contents">
                    <ul class="nav_menu">
                        <li>
                            <h2><a href="/movie/ticketingRate/0">영화</a></h2>
                        </li>
                        <li>
                            <h2><a href="/theaters/">상영시간표</a></h2>
                        </li>
                        <li>
                        </li>
                        <li>
                        </li>
                        <li>
                        </li>
                        <li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
</html>