<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment">
    <meta charset="utf-8">
    <div style="text-align:center">
        <div>
            <h1><a href="/">HELLO SHOP</a></h1>
        </div>
        <div>
            <div th:if="${member}">
                <h4 th:text="|로그인:${member.name}|">로그인 사용자 이름</h4>
                <a href="/logout">LOGOUT</a>
            </div>
            <div th:unless="${member}">
                <a  href="/login">LOGIN</a>
            </div>
        </div>
    </div>
</header>
</html>