<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>예매</title>
</head>
<body>
<section layout:fragment="content" class="main-content">
    <h1>예매</h1>
    <form id="register-form" th:action="@{/ticket/book}" th:object="${ticket}" method="post">
        <div class="form-row">
            <label>이름: </label> <input type="text" th:field="${member.name}" autofocus="autofocus" placeholder="이름"/>
        </div>
            <input type="submit" value="예매" />
        </div>
    </form>
</section>
</body>
</html>